body {background-color: powderblue;}

h1 {
    text-align: center;
    font-style: italic;

}


.pic1 {
    position: absolute;
    left: 30px;
    height: 300px;
    width: 350px;

}

.pic2 {
    position: absolute;
    left: 1100px;
    height: 300px;
    width: 300px;

}

div.biography-info {
    text-align: center;
}